<app-navigation></app-navigation>
<div class="container">
<div class="card shadow mt-5">
    <div class="card-body mt-4">
      <h1 class="card-title text-center mb-4">Reglamento del Gimnasio Auditorio</h1>
      <div class="content">
        <p>1. El uso del gimnasio auditorio está destinado únicamente para actividades académicas, deportivas y culturales autorizadas por la administración.</p>
        <p>2. Todos los usuarios deben registrarse en la entrada y presentar una identificación válida.</p>
        <p>3. Es obligatorio el uso de calzado deportivo adecuado y ropa deportiva durante las actividades en el gimnasio.</p>
        <p>4. No se permite el consumo de alimentos ni bebidas dentro del área del gimnasio, a excepción de agua en botellas de plástico.</p>
        <p>5. El cuidado y respeto del equipamiento e instalaciones es responsabilidad de todos los usuarios. Cualquier daño debe ser reportado inmediatamente.</p>
        <p>6. Las reservas para el uso del gimnasio deben ser realizadas con antelación a través del sistema de reservaciones de la universidad.</p>
        <p>7. El incumplimiento de las normas establecidas puede resultar en la suspensión del derecho de uso de las instalaciones.</p>
        <p>8. La administración se reserva el derecho de admisión y permanencia en el gimnasio auditorio.</p>
        <p>9. Está prohibido el uso de dispositivos de sonido sin auriculares para no perturbar a otros usuarios.</p>
        <p>10. Los usuarios deben mantener el orden y la limpieza en todas las áreas del gimnasio auditorio.</p>
      </div>
    </div>
  </div>
</div>