<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      
        <button type="button" class="btn btn-light" ><img routerLink="/" routerLinkActive="active" src="../../../assets/logo-utng.png" alt="logotipo" width="50px" height="50px">
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ms-auto">
          <li>
            <a href="#"><!--Que regrese a la página anterior-->
              <button type="button" class="btn btn-light" >
                <i class="fa-solid fa-arrow-left fa-2xl" style="color: #74C0FC;"></i>
            </button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reglamento">Reglamento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservaciones">Reservaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/oficios-reservas">Contratos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sugerencias-quejas">Sugerencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contrato">Contrato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ingresar">Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrar-reservaciones">Administrar reservas</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>